/* navbarcode   */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

nav {
  background: #0099ff;
  position: sticky;
  top: 0;
  z-index: 999;
  /* Ensure it stays on top of other content */
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  /* text-transform: uppercase; */
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0099ff;
  }

  #check:checked~ul {
    left: 0;
  }
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}



.dropbtn1,
.dropbtn2,
.dropbtn3 {
  background-color: #0099ff;
  color: white;
  padding: 12px;
  ;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn1:hover,
.dropbtn1:focus,
.dropbtn2:hover,
.dropbtn2:focus,
.dropbtn3:hover,
.dropbtn3:focus {
  background-color: #0099ff;
}


.dropdown1,
.dropdown2,
.dropdown3 {
  position: relative;
  display: inline-block;
}


.dropdown-content1,
.dropdown-content2,
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content1 a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover {
  background-color: #ddd;
}


.dropdown1:hover .dropdown-content1,
.dropdown2:hover .dropdown-content2,
.dropdown3:hover .dropdown-content3 {
  display: block;
}


.dropdown1:hover .dropbtn1,
.dropdown2:hover .dropbtn2,
.dropdown3:hover .dropbtn3 {
  background-color: #1b9bff;
}

@media screen and (max-width: 600px) {

  .dropbtn1,
  .dropbtn2,
  .dropbtn3 {
    width: 100%;
    text-align: center;
  }


  .dropbtn1,
  .dropbtn2,
  .dropbtn3 {
    padding: 10px;
    font-size: 14px;
  }


  .dropdown-content1,
  .dropdown-content2,
  .dropdown-content3 {
    top: 100%;
    left: 0;
    right: 0;
  }
}

/* schoolname */

.header-3 {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  padding: 50px;
  text-align: center;
  /* background-color: #0082e6; */
}

@media screen and (max-width: 600px) {

  h2,
  h1 {
    font-size: 15px;
  }
}

.img-1 {
  border-radius: 2px solid black;
  margin-left: 40px;
}

.contact {
  margin-right: 30px;
}



.marque1 {
  height: 25px;
  background-color: #0099ff;
  font-weight: bold;
  font-size: medium;
}

/* slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/* schoolimages */
.main-section {
  width: 100%;
  height: 80px;
  font-family: 'Times New Roman', Times, serif;
}

.img-nav {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  padding: 10px;

}

.img-nav {
  padding: 10px;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}

body {
  width: 100%;
  background-color: #809faa;
  font-family: 'Times New Roman', Times, serif;
}

/* cardcode for classes  */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */

/* body {
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
/* height: 300px;
    width: 200px; */
/* user-select: none; */
/* } */

.carding {
  height: 1000px;
  width: 100%;
  margin-top: 10px;




}

.card2 {
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 400px;
  height: 180px;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;

  transition: 0.6s ease-in;
}

.card2::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #7952b3;
  height: 220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card2:hover::before {
  transition-delay: 0.2s;

  transform: scale(40);
}

.card2:hover {
  color: #ffffff;

}

.card2 p {
  padding: 10px 0;
}



/* new added css */
.carding {
  margin-bottom: 5px;
  background-color: yellowgreen;
  padding: 50px;

}

.row {
  margin-bottom: 60px;
  margin-top: 50px;



}



.card {
  text-align: center;
  margin-top: 50px;
}

.card3 {
  margin-top: 20px;
  font-size: 30px;
}



/* school info mission and vision */

* {
  box-sizing: border-box
}

/* .section{
  height: 1000px;
  width: 800px;
} */

.second_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  text-align: center;
  /* background-color: aqua; */
  font-size: 1.6rem;
}

.first_block {
  text-align: center;
  /* Center the content */
  max-width: 100%;
  /* Ensure the block takes full width */
}

.first_block>* {
  display: block;
  /* Make child elements block */
  margin: 10px auto;
  /* Center the child elements */
  text-align: left;
  /* Reset text alignment for child elements */
}

@media screen and (max-width: 768px) {
  .first_block {
    overflow-x: hidden;
    white-space: normal;
  }
}

.main_info {
  align-items: center;
  text-align: center;
  /* color: aquamarine; */
  border: 2px solid blueviolet;
  height: 600px;
  margin-bottom: 50px;
}

.first_block {
  background-color: skyblue;
  height: 590px;
}

.second_block {
  display: flex;
  flex-direction: column;
  /* Align child elements vertically */
  align-items: center;
  /* Center child elements horizontally */
  max-width: 100%;
  margin: 0 auto;
  /* padding: 10px; */
  /* Add padding for better spacing */
  border: 3px solid blue;
  height: 150px;
  margin-top: 1px;

}

.third-block {
  background-color: skyblue;
  padding: 10px;
  /* Add padding for better appearance */
  border-radius: 5px;
  /* Add border radius for rounded corners */
  color: white;
  /* Change text color to white */
  text-align: center;
  /* Center text inside the block */
  width: fit-content;
  /* Adjust width based on content */
  border: 2px solid blueviolet;
}

.third-block h5 {
  margin: 0;

}


.title h1 {
  text-align: center;
  padding: 50px;
  font-size: 42px;
}

.title h1::after {
  content: "";
  height: 4px;
  width: 230px;
  background-color: #000;
  display: block;
  margin: auto;
}



.card:hover {
  background-color: skyblue;
  transition: 0.4s ease;
}

.card .icon {
  font-size: 35px;
  margin-bottom: 10px;
}


.card p {
  font-size: 17px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #5e5e5e;
}

@media screen and(max-width:940px) {
  .services {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 85%;
    display: flex;
    margin: 20px 0;
  }
}


/* FAQ CSS */

/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

/* body {
  background-color: #f0f0f0;
  font-family: 'Muli', sans-serif;
} */

/* h1 {
  margin: 50px 0 30px;
  text-align: center;
}

.faqs-container {
  margin: 0 auto;
  max-width: 600px;
}

.faq {
  background-color: transparent;
  border: 1px solid #9FA4A8;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.faq.active::after, .faq.active::before {
  color: #2ecc71;
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color:transparent;
  border: none;
  border-radius: 50%;
  color:black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: none;
}

.faq.active .faq-toggle {
  background-color: #9FA4A8;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: block;
}

.faq-toggle .fa-chevron-down {
  color: #83888E;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

/* SOCIAL PANEL CSS */
/* .social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
} */

/* .social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel { 
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
  border: 5px solid #001F61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Muli';
  position: relative;
  height: 169px;  
  width: 370px;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  color: #97A5CE;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: #001F61;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  width: 235px;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: #FF7500;
  text-decoration: none;
}

.social-panel h4 {
  margin: 20px 0;
  color: #97A5CE; 
  font-family: 'Muli';  
  font-size: 14px;  
  line-height: 18px;
  text-transform: uppercase;
}

.social-panel ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border: 1px solid #DCE1F2;
  border-radius: 50%;
  color: #001F61;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #FF6A00;
  box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001F61;
  border: 1px solid #001F61;
  box-shadow: 0 16px 22px -17px #03153B;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001F61;
}

.floating-btn:focus {
  outline: none;
}

.floating-text {
  background-color: #001F61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: 'Muli';
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
} */
/* 
.floating-text a {
  color: #FF7500;
  text-decoration: none;
}

@media screen and (max-width: 480px) {

  .social-panel-container.visible {
    transform: translateX(0px);
  }
  
  .floating-btn {
    right: 10px;
  }
} */


/* Footer */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;

}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.container {
  height: 100%px;
}

/* new css of content */
.section {
  border: 2px solid blue;
}

.nav {
  position: sticky;
  top: 0;
}

.nav {
  background-color: #0099ff;
}

#classbutton {
  text-align: center;
  align-items: center;
}

/* updated css */
.main-section {
  height: 80px;

}

.marque2 {
  /* height: 50px; */
}

.marque1 {
  height: 30px;
}

.schoolname-main {
  text-align: center;
  /* margin-right: 250px; */
}

.googletranslate{
  background-color:whitesmoke;
  border: 3px solid black;
}