.main-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 75px auto; */
    text-align: center;
    background-color: #c6ced1;
}

.img-1 {
    border-radius: 2px solid black;
    margin-left: 20px;
}

.contact {
    margin-right: 30px;
}

.mar{
background-color: aquamarine;
    font-weight: 700;
}